<!DOCTYPE html>
<html>
<head>
    <meta name="ROBOTS" content="NOINDEX, NOFOLLOW">
</head>
<body>
    <script src="/js/jquery-2.2.0.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/send_data.js"></script>
    <script>
        var socket = io.connect('https://https://young-oasis-96944.herokuapp.com');
    </script>
</body>
</html>
